/*page Layout*/

page {
    border: 0px solid blue;
}

.clearfix {
    overflow: auto;
}

main elements {
    float: center;
    width: 1024px;
    border: 0px solid #73AD21;
}

nav {
    margin-left: 300px;
    border: 0px solid red;
}



/*headings */



/*body*/
body {
    background: url("http://wallpapercave.com/wp/aNpGDLY.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #222;
    font: 13px/1.231 Verdana,Geneva,sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}

/* Buttons */

button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button {
    background-color: #419ed9;
    background-image: linear-gradient(to bottom, #419ed9 0%, #2f7cb4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF419ED9',endColorstr='#FF2F7CB4');
    background-size: 100% auto;
    /*clear: both;*/
    color: #fff;
    display: block;
    font: 300 14px/28px "FrutigerLTW01-45Light",sans-serif;
    height: 32px;
    padding: 0 15px;
    border: none;
}

button:hover,
.products-grid li.item:hover button.button,
.add-to-cart button.button:hover{
    background-color: #2f7cb4;
    background-image: linear-gradient(to bottom, #2f7cb4 0%, #419ed9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FF2f7cb4',endColorstr='#FF419ed9');
    background-size: 100% auto;
}
button.button span span { border:0; padding:0; }
button.disabled span { border-color:#bbb !important; background:#bbb !important; }
button.btn-checkout.no-checkout span { background-position:0 100%; color:#b8baba; }
button.btn-checkout.no-checkout span span { background-position:100% 100%; }

/* button grouping */

.btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width:100%;
}
